<a href="https://colab.research.google.com/github/nadhifazlfa/week-03/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print('Python is powerful')

Python is powerful

In [4]:
print('Good Morning!')
print('It is rainy today')

Good Morning!
It is rainy today

In [6]:
# print with end whitespace
# print ('Good Morning!', end= ' ')

print('Good Morning!', end = ' ')

print('It is rainy today')

Good Morning! It is rainy today

In [7]:
print('New Year', 2023, 'See you soon!', sep= '. ')

New Year. 2023. See you soon!

In [12]:
number = -10.6

name = "Teknologi Informasi"

# print literals
print(5)

# print variables
print(number)
print(name)

5
-10.6
Teknologi Informasi

In [13]:
print('Teknologi Informasi ' + ' Universitas Tidar')

Teknologi Informasi  Universitas Tidar

In [14]:
x = 5
y = 10

print('The value of x is {} and y is {}'. format(x,y))

The value of x is 5 and y is 10

In [17]:
# using input() tp take user input
num = input('Enter a number: ')

print('You Entered:', num)

print('Data type of num:', type(num))

Enter a number: 45
You Entered: 45
Data type of num: <class 'str'>

In [18]:
!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9656 sha256=4d9748c64314514f5114f71bade9c17dfa5526f3f242918606ef33da4da4fa22
  Stored in directory: /root/.cache/pip/wheels/8b/f1/7f/5c94f0a7a505ca1c81cd1d9208ae2064675d97582078e6c769
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [27]:
# Download Example file
!mkdir -p /resources/data
!wget -O /resources/data/Example1.txt https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt

--2024-09-06 09:35:32--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45 [text/plain]
Saving to: ‘/resources/data/Example1.txt’

/resources/data/Exa 100%[===================>]      45  --.-KB/s    in 0s

2024-09-06 09:35:32 (22.8 MB/s) - ‘/resources/data/Example1.txt’ saved [45/45]

In [28]:
# Read the Example1.txt

example1 = "/resources/data/Example1.txt"
file1 = open(example1, "r")

In [31]:
# Print the path of file

file1.name

'/resources/data/Example1.txt'

In [32]:
# Print the mode of file, either 'r' or 'w'

file1.mode

'r'

In [33]:
# Read the file

FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [34]:
# Print the file with '\n' as a new line

print(FileContent)

This is line 1
This is line 2
This is line 3

In [35]:
# Type of file content

type(FileContent)

str

In [36]:
# Close file after finish

file1.close()

In [37]:
# Open file using with

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [38]:
# Verify if the file is closed

file1.closed

True

In [39]:
# See the content of file

print(FileContent)

This is line 1
This is line 2
This is line 3

In [40]:
# Read first four characters

with open(example1, "r") as file1:
    print(file1.read(4))

This

In [41]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [42]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

In [43]:
# Read one line
with open(example1, "r") as file1:
     print("first line: " + file1.readline())

first line: This is line 1

In [44]:
# Iterate through the lines

with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1;

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [45]:
# Read all lines and save as a list

with open(example1, "r") as file1:
    FileasList = file1.readlines()

In [46]:
# Print the first line

FileasList[0]

'This is line 1 \n'

In [47]:
# Print the first line

FileasList[0]

'This is line 1 \n'

In [48]:
# Print the second line

FileasList[1]

'This is line 2\n'

In [49]:
# Print the third line

FileasList[2]

'This is line 3'

In [50]:
!mkdir -p /resources/data

In [53]:
# Write line to file

with open('/resources/data/Example2.txt', 'w') as writefile:
    writefile.write("This is line A")

In [54]:
# Read file

with open('/resources/data/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [55]:
# Write lines to file

with open('/resources/data/Example2.txt', 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [56]:
# Check whether write to file

with open('/resources/data/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [57]:
# Write a new line to text file

with open('/resources/data/Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")

In [58]:
# Verify if the new line is in the text file

with open('/resources/data/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [59]:
# Sample list of text

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [60]:
# Write the strings in the list to text file

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [61]:
# Verify if writing to file is successfully executed

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [62]:
# Append the line to the file

with open ('Example2.txt', 'r') as testwritefile:
     print(testwritefile.read())

This is line A
This is line B
This is line C

In [64]:
# Verify if the appending is successfully executed

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [65]:
# Copy file to another
with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [66]:
# verify if the copy is succesfully executed
with open('Example3.txt','r') as testwritefile:
     print(testwritefile.read())

This is line A
This is line B
This is line C

In [13]:
!mkdir -p /resources/data

In [17]:
#  Write line to file

with open('/resources/data/biodatanadhifa.txt','w') as writefile:
      writefile.write("Nama         : Nadhifatus Zalfa Az Zanirah\n")
      writefile.write("Program Studi: S1 Tekonologi Informasi\n")
      writefile.write("NPM          : 2410506012\n")
      writefile.write("Alamat       : Gunungmujil,Kuwarasan,Kebumen\n")
      writefile.write("Hobi         : Jalan-jalan,memasak\n")
      writefile.write("Email        : nazazalfa23@gmail.com\n")

In [24]:
with open('/resources/data/biodatanadhifa.txt','r') as testwritefile:
    print(testwritefile.read())

Nama         : Nadhifatus Zalfa Az Zanirah
Program Studi: S1 Tekonologi Informasi
NPM          : 2410506012
Alamat       : Gunungmujil,Kuwarasan,Kebumen
Hobi         : Jalan-jalan,memasak
Email        : nazazalfa23@gmail.com

In [25]:
Lines = ["Nama : Nadhifatus Zalfa Az Zanirah\n", "Program Studi : S1 Teknologi Informasi/n", "Email : nazazalfa23@gmail.com/n"]
Lines

['Nama : Nadhifatus Zalfa Az Zanirah\n',
 'Program Studi : S1 Teknologi Informasi/n',
 'Email : nazazalfa23@gmail.com/n']

In [26]:
# Membaca file biodatanadhifa.txt dan menulis data yang diinginkan ke biodatanadhifa.txt
with open('/resources/data/biodatanadhifa.txt', 'r') as readfile:
    with open('/resources/data/biodatanadhifa2.txt', 'w') as writefile:
      # Membaca baris per baris
      for line in readfile:
        # Memeriksa apakah baris mengandung data yang diinginkan
        if any(keyword in line for keyword in ["Nama", "NPM", "Program Studi", "Alamat"]):
          # Menulis baris yang sesuai ke file baru
          writefile.write(line)

In [12]:
print("Selamat datang di Toko Maju Jaya")
print("Senin, 4 September 2023 13.05")
print()
print("DAFTAR BELANJA:")
item1 ='Sabun'
item2 ='Shampo'
item3 = 'Mie instan'
item4 = 'Detergen'
harga1 = 10000
harga2 = 15000
harga3 = 5000
harga4 = 17500
print("")
total = harga1+harga2+harga3+harga4
print("")
print('sabun =', harga1)
print('shampo =', harga2)
print('mie instan =', harga3)
print('detergen =', harga4)
print("")
print('total =', + total)

with open("Kuitansi.txt", "w") as writefile:
        writefile.write("Selamat Datang di Toko Maju Jaya\n")
        writefile.write("\n")
        writefile.write("Kuitansi - 4 September 2023\n\n")
        writefile.write("\n")
        writefile.write(f"{item1} = Rp {harga1}\n")
        writefile.write(f"{item2} = Rp {harga2}\n")
        writefile.write(f"{item3} = Rp {harga3}\n")
        writefile.write(f"{item4} = Rp {harga4}\n")
        writefile.write("\n")
        writefile.write("total belanja = Rp {total}")

Selamat datang di Toko Maju Jaya
Senin, 4 September 2023 13.05

DAFTAR BELANJA:


sabun = 10000
shampo = 15000
mie instan = 5000
detergen = 17500

total = 47500